@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--soft-blue);
    background-color: var(--very-dark-blue-main);
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
}

main {
    display: grid;
    place-items: center;
    padding: 4rem 1rem 4rem 1rem;
    max-width: 375px;
}

.card {
    display: grid;
    background: var(--very-dark-blue-card);
    border-radius: 1rem;
    grid-gap: 1rem;

    padding: 1.5rem;
    font-size: 1rem;
}

.header {
    display: grid;
    place-items: center;
}

.hero {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 1rem;
    max-width: 100%;
}

.view-container {
    display: none;
    grid-area: 1 / 1 / 2 / 2;
    background-color: hsla(178, 100%, 50%, 0.3);
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.view {
    display: grid;
    height: 100%;
    place-items: center;
}


.header:hover .view-container {
    display: block;
    cursor: pointer;
}

.card h1 {
    color: white;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
}

.card p {
    margin: 0;
}

.grid-info-items {
    display: grid;
    grid: 1fr / min-content 1fr;
    grid-gap: 0.2rem;
    align-items: center;
}

.info {
    display: grid;
    grid: 1fr / 1fr 1fr;
    align-items: center;
}

.value {
    color: var(--cyan);
    font-weight: 400;
}

.time {
    align-self: center;
    justify-self: end;
}

.line {
    border: 1px solid var(--very-dark-blue-line);
    width: 100%;
}

.creator {
    display: grid;
    grid: 1fr / min-content 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.creator img {
    width: 2.5rem;
    border-radius: 100%;
    border: 1px solid white;
}

.hover-item {
    color: white;
}

.hover-item:hover {
    color: var(--cyan);
    text-decoration: none;
    cursor: pointer;
}

/* Footer section */
body > footer {
    color: black;
    text-align: center;
    position: sticky;
    top: 100vh;
    width: 100%;
    background-color: #f2f2f2;
}

.attribution {
    padding: 1rem;
    margin: auto;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
.attribution a:hover{
    color: hsl(256, 100%, 0%);
    text-decoration: none;
}
